<%= form_tag(inventories_path, method: :post, class: 'form-inline') do %>
  <div><%= paginate @items %></div>
  <table class="table table-hover table-condensed">
    <thead>
  		<tr>
  			<th>物品名</th>
  			<!-- <th>品番</th>
  			<th>カテゴリ</th>
  			<th>保管場所</th> -->
  			<th>前回数量(確認日)</th>
  			<th>
  			  <% if @type == 'Check' %>
  			    在庫数量
  			  <% else %>
  			    入荷数量
  			  <% end %>
  			</th>
  		</tr>
  	</thead>
	  <tbody>
  	  <% @items.each do |item| %>
    		<tr>
    			<td><%= link_to item.name, item %></td>
    			<!-- <td><%= item.code %></td>
    			<th><%= item.category.name %></th>
    			<td><%= item.storage_location %></td> -->
    			<td>
    			  <% if lastcheck = item.checks.order(:date).last %>
    			    <%= "#{lastcheck.number} #{item.unit} (#{lastcheck.date})" %>
    			  <% else %>
    			    ---
    			  <% end %>
    			</td>
    			<td>
            <div class="input-group">
              <%= number_field_tag "numbers[#{item.id}]", {}, class: 'form-control' %>
            	<span class="input-group-addon"><%= item.unit %></span>
            </div>
    			</td>
    		</tr>
  		<% end %>
  	</tbody>
  </table>
  <div><%= paginate @items %></div>

  <div class="input-group col-sm-3">
  	<span class="input-group-addon">日付</span>
    <%= date_field_tag :date, Date.today, class: 'form-control' %>
  </div>
  <div class="input-group col-sm-3 text-center">
    入力者: <%= current_user.name %>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div class="input-group col-sm-3 text-center">
	  <% if @type == 'Check' %>
	    作業種別: 在庫数確認
	  <% else %>
	    作業種別: 入荷数確認
	  <% end %>
    
    <%= hidden_field_tag :type, @type %>
  </div>

  <%= submit_tag '登録', class: 'btn btn-primary btn-lg' %>
<% end %>
