<h1><%= Item.find(@inventory.item_id).name %> の<%= @inventory.type == "Check" ? "在庫数" : "入荷" %>情報編集</h1>

<div>
  <%= form_for(@inventory) do |f| %>
    <div class="form-group">
      <%= f.label :date, '日付' %>
      <%= f.date_field :date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :number, '数量' %>
      <%= f.number_field :number, class: 'form-control' %>
    </div>
    <div class="form-group">
      入力者: <%= current_user.name %>
      <%= f.hidden_field :user_id %>
    </div>
    <div class="form-group">
      処理種別: <%= @inventory.type == "Check" ? "在庫数確認処理" : "入荷処理" %>
      <%= f.hidden_field :type %>
    </div>
    <%= f.hidden_field :item_id %>

    <%= f.submit '更新', class: 'btn btn-default' %>
  <% end %>
</div>

<%= link_to '物品情報詳細に戻る', item_path(@inventory.item_id), class: 'btn btn-default' %>
