<h1>入荷情報一覧</h1>

<div>
  <table class="table table-hover table-condensed">
    <thead>
  		<tr>
  			<th>日付</th>
  			<th>物品名</th>
  			<th>入荷数量</th>
  			<th>担当者</th>
  			<th>元発注書番号</th>
  			<th></th>
  		</tr>
  	</thead>
	  <tbody>
	    <% @adds.each do |add| %>
        <tr>
    			<td><%= add.date %></td>
    			<td><%= add.item.name %></td>
    			<td><%= add.number %></td>
    			<td><%= add.user.name %></td>
    			<td><%= add.order_id ? add.order.order_sheet.code || add.order.order_sheet.id : "---" %></td>
    			<td>
    			  <%= render '/layouts/edit_button', record: add.becomes(Inventory) %>
    			  <%= render '/layouts/delete_button', record: add.becomes(Inventory) %>
    			</td>
    		</tr>
    	<% end %>
  	</tbody>
  </table>
  
</div>

<%= link_to '在庫一覧に戻る', root_path, class: 'btn btn-default btn-sm' %>
