<h1>id: <%= @user.id %> のユーザ情報編集</h1>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ユーザ名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :old_password, '現在のパスワード' %>
    <%= f.password_field :old_password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, '新しいパスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, '新しいパスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <% if @user.id == current_user.id or current_user.level == "Administrator" %>
    <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>

<%= link_to 'ユーザ一覧に戻る', users_path, class: 'btn btn-default btn-sm' %>
