<h1>id: <%= @user.id %> のユーザ情報詳細</h1>

<p>ユーザ名: <%= @user.name %></p>

<%= link_to 'ユーザ一覧に戻る', users_path, class: 'btn btn-default btn-sm' %>
<% if @user.id == current_user.id or current_user.level == "Administrator"  %>
  <%= link_to 'このユーザを編集する', edit_user_path, class: 'btn btn-default btn-sm' %>
  <%= link_to 'このユーザを削除する', @user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-default btn-sm' %>
<% end %>
