<% if logged_in? %>
  <h1>
	  在庫情報一覧
  </h1>
  
  <%= render 'note' %>

  <div>
    <%= form_tag(root_path, method: :get, class: 'form-inline') do %>
    	<%= render '/layouts/sort_form' %>
    <% end %>
  </div>
  
  <%= render 'table' %>
  
  <%= link_to '新規物品の登録', new_item_path, class: 'btn btn-default' %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to OB在庫管理</h1>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
