<h1>新規物品登録</h1>
<div>
  <%= form_for(@item) do |f| %>
    <div class="form-group">
      <%= f.label :name, '物品名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :code, '品番' %>
      <%= f.text_field :code, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :category_id, 'カテゴリ' %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :unit, '数量単位' %>
      <%= f.text_field :unit, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :storage_location, '保管場所' %>
      <%= f.text_field :storage_location, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :vendor, '発注先' %>
      <%= f.text_field :vendor, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :lead_time, 'リードタイム(日)' %>
      <%= f.number_field :lead_time, class: 'form-control' %>
    </div>
    <%= f.submit '新規登録', class: 'btn btn-default' %>
  <% end %>
</div>

<%= link_to '在庫一覧に戻る', root_path, class: 'btn btn-default' %>
