<h1><%= @item.name %> の物品情報詳細</h1>

<div>
    物品名: <%= @item.name %>, 
    品番: <%= @item.code %>, 
    カテゴリ: <%= @item.category.name %>, 
    数量単位: <%= @item.unit %>, 
    保管場所: <%= @item.storage_location %>, 
    発注先: <%= @item.vendor_id ? @item.vendor.name : "---" %>, 
    リードタイム: <%= @item.lead_time %>日
</div>

<div>
  <%= line_chart [
    { name: "在庫数", data: @item.checks.order(:date).pluck(:date, :number) }]
    %>
</div>

<div>
  <table class="table table-hover table-condensed">
    <thead>
  		<tr>
  			<th>日付</th>
  			<th>在庫数量</th>
  			<th>入荷数量</th>
  			<th>発注数量</th>
  			<th>担当者</th>
  			<th></th>
  		</tr>
  	</thead>
	  <tbody>
	    <% if @orders = @item.not_done_orders %>
    	  <% @orders.order(arrival_date: 'DESC').each do |order| %>
          <tr>
      			<td><%= order.arrival_date %>入荷予定</td>
      			<td>---</td>
      			<td>---</td>
      			<td><%= order.number %> <%= @item.unit %></td>
      			<td><%= order.order_sheet.user.name %></td>
      			<td><%= render '/layouts/edit_button', record: order.order_sheet %></td>
          </tr>
    		<% end %>
  	  <% end %>
	    <% if Inventory.find_by(item_id: @item.id) %>
    	  <% Inventory.where(item_id: @item.id).order(date: 'DESC').each do |inventory| %>
          <tr>
      			<td><%= inventory.date %></td>
      			<td>
      			  <% if inventory.type == 'Check' %>
      			    <%= inventory.number %> <%= @item.unit %>
      			  <% else %>
      			    ---
      			  <% end %>
      			</td>
      			<td>
      			  <% if inventory.type == 'Add' %>
      			    <%= inventory.number %> <%= @item.unit %>
      			  <% else %>
      			    ---
      			  <% end %>
      			</td>
      			<td>---</td>
      			<td><%= inventory.user.name %></td>
      			<td>
      			  <%= render '/layouts/edit_button', record: inventory.becomes(Inventory) %>
      			  <%= render '/layouts/delete_button', record: inventory.becomes(Inventory) %>
      			 </td>
          </tr>
    		<% end %>
    	<% else %>
  	    <tr><td colspan="6">在庫データ、入荷データが見つかりません。</td></tr>
  	  <% end %>
  	</tbody>
  </table>
  
</div>

<%= link_to '在庫一覧に戻る', root_path, class: 'btn btn-default btn-sm' %>
<%= link_to 'この物品情報を編集する', edit_item_path, class: 'btn btn-default btn-sm' %>
<% if current_user.level == "Administrator" %>
  <%= link_to 'この物品を削除する', @item, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-default btn-sm' %>
<% end %>
