<h1>入荷処理</h1>

<%= render 'note_arrival' %>

<%= form_for(@order_sheet, url: arrival_path(@order_sheet), html: {method: "post", class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
    <%= f.label :order_date, '発注日', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.date_field :order_date, class: 'form-control', readonly: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :code, '発注書番号', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :code, class: 'form-control', readonly: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :vendor_id, '発注先', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :vendor_id, [@order_sheet.vendor], :id, :name, {}, {class: 'form-control', readonly: true} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, '発注者', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :user_id, [@order_sheet.user], :id, :name, {}, {class: 'form-control', readonly: true} %>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
  		<tr>
  			<th>物品名</th>
  			<th>発注数</th>
  			<th>入荷日</th>
  			<th>進行状況</th>
      </tr>
  	</thead>
	  <tbody>
      <% @order_sheet.orders.each do |order| %>
        <%= fields_for :orders, order do |o|%> 
  	      <tr>
            <td><%= o.collection_select :item_id, Item.where(vendor_id: @order_sheet.vendor_id), :id, :name, {}, class: 'form-control' %></td>
            <td><div class="input-group"><%= o.number_field :number, class: 'form-control' %><span class="input-group-addon"><%= order.item.unit if order.item %></span></div></td>
            <td><%= o.date_field :arrival_date, class: 'form-control' %></td>
            <td><%= o.select :status, Order.status_attributes, {},class: 'form-control' %></td>
            <td><%= o.check_box :_destroy %><%= o.label :_destroy, "削除" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.submit '物品行を追加', class: 'btn btn-default' %>
  <%= f.submit '更新', class: 'btn btn-primary' %>
<% end %>

<%= link_to '発注書一覧に戻る', order_sheets_path, class: 'btn btn-default pull-right' %>
