<h1>入荷処理</h1>

<%= render 'note_arrival' %>

<%= form_for(@order_sheet, url: arrival_order_sheet_path(@order_sheet), html: {method: "post", class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
    <%= f.label :order_date, '発注日', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.date_field :order_date, class: 'form-control', readonly: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :code, '発注書番号', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :code, class: 'form-control', readonly: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :vendor_id, '発注先', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :vendor_id, [@order_sheet.vendor], :id, :name, {}, {class: 'form-control', readonly: true} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, '発注者', class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :user_id, [@order_sheet.user], :id, :name, {}, {class: 'form-control', readonly: true} %>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
  		<tr>
  			<th>物品名</th>
  			<th>入荷数</th>
  			<th>入荷日</th>
  			<th>進行状況</th>
      </tr>
  	</thead>
	  <tbody>
      <% @order_sheet.orders.each do |order| %>
        <%= f.fields_for :orders, order do |o|%> 
  	      <tr>
            <td><%= o.collection_select :item_id, [order.item], :id, :name, {}, class: 'form-control', readonly: true %></td>
            <% if order.status == "done" %>
              <td><div class="input-group"><%= o.number_field :number, class: 'form-control', readonly: true %><span class="input-group-addon"><%= order.item.unit if order.item %></span></div></td>
              <td><%= o.date_field :arrival_date, value: Date.today, class: 'form-control', readonly: true %></td>
              <td><%= o.select :status, [order.show_status], {},class: 'form-control', readonly: true %></td>
            <% else %>
              <td><div class="input-group"><%= o.number_field :number, class: 'form-control' %><span class="input-group-addon"><%= order.item.unit if order.item %></span></div></td>
              <td><%= o.date_field :arrival_date, value: Date.today, class: 'form-control' %></td>
              <td><%= o.select :status, Order.status_attributes, {},class: 'form-control' %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.submit '入荷処理実行', class: 'btn btn-primary' %>
<% end %>

<%= link_to '発注書一覧に戻る', order_sheets_path, class: 'btn btn-default pull-right' %>
<%= link_to 'この発注書を編集する', edit_order_sheet_path(@order_sheet), class: 'btn btn-default pull-right' %>
