<h1>新規発注</h1>
<div>
  <%= form_tag(new_order_sheet_path, method: 'GET', class: 'form-inline') do %>
    <div class="input-group col-sm-3">
      <span class="input-group-addon">発注先</span>
      <%= select_tag :vendor_id, options_from_collection_for_select(Vendor.all, :id, :name, {:selected => @vendor_id}), :include_blank => true, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= submit_tag '選択', class: 'btn btn-default' %>
    </div>
  <% end %>
  
  <%= form_for(@order_sheet, html:{class: 'form-horizontal'}) do |f| %>
    <div class="form-inline">
      <div class="input-group">
        <span class="input-group-addon">発注日</span>
        <%= f.date_field :order_date, class: 'form-control' %>
      </div>
      <div class="input-group">
        <span class="input-group-addon">発注書番号</span>
        <%= f.text_field :code, class: 'form-control' %>
      </div>
      <div class="input-group">
        <span>発注者: <%= current_user.name %></span>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
    </div>
  
    <table class="table table-hover">
      <thead>
    		<tr>
    			<th>物品名</th>
    			<th>注文数</th>
    			<th></th>
        </tr>
    	</thead>
  	  <tbody>
    	  <%= f.nested_fields_for :orders, wrapper_tag: :tr do |q| %>
          <td><%= q.collection_select :item_id, @items, :id, :name, {}, class: 'form-control' %></td>
          <td><%= q.number_field :number, :class => 'form-control' %></td>
          <td><%= q.remove_nested_fields_link '行削除', class: 'btn btn-danger', role: 'button' %></td>
        <% end %>
      </tbody>
    </table>
    <%= f.add_nested_fields_link :orders, '行追加', class: 'btn btn-default', role: 'button' %>
    
    <%= f.hidden_field :order_sheet, value: @order_sheet %>
    <%= f.submit '在庫月数評価', class: 'btn btn-primary' %>
    <%= f.submit '新規発注', class: 'btn btn-primary' %>
  <% end %>
  
  <%= link_to '在庫一覧に戻る', root_path, class: 'btn btn-default pull-right' %>
</div>
