<h1>新規発注</h1>
<div>
  <%= form_tag(new_order_sheet_path, method: 'GET', class: 'form-inline') do %>
    <div class="form-group">
      <%= text_field_tag :vendor, @vendor, class: 'form-control', placeholder: '発注先' %>
      <%= number_field_tag :rows, @rows, class: 'form-control', placeholder: '物品数' %>
    </div>
    <%= submit_tag '選択', class: 'btn btn-default btn-sm' %>
  <% end %>
  
  <%= form_tag(order_sheets_path, method: 'POST') do %>
    <table class="table table-hover table-condensed">
      <thead>
    		<tr>
    			<th>物品名</th>
    			<th>注文数</th>
        </tr>
    	</thead>
  	  <tbody>
        <% @orders.each do |order| %>
      		<tr>
            <div class="form-inline">
              <td> <%= select_tag :item_id, options_from_collection_for_select(@items, :id, :name, {:selected => nil}), class: 'form-control' %> </td>
              <td> <%= number_field_tag :number, '', class: 'form-control', placeholder: '数量' %> </td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag '新規発注登録', class: 'btn btn-default' %>
  <% end %>
</div>

<%= link_to '在庫一覧に戻る', root_path, class: 'btn btn-default' %>
